- BEMPUG.modifier = '_'; 

mixin dentistry(bem)
  +b('dentistry', bem)&attributes(attributes)
    +e('title', {t: 'h2'}) Стоматология <br /> «дэнтал лэнд»
    +e('conteiner')
      +e('text', {t: 'p'}) «Ваша стоматология» — это современный медицинский центр  
          | закрытого цикла – от первичной консультации до самого сложного лечения.  
          | Здоровьем ваших зубов будет заниматься команда опытных сертифицированных 
          | специалистов-стоматологов, которые используют в своей работе новейшие медицинские 
          | методики и современное технологичное оборудование. Поэтому вы гарантированно 
          | получаете профессиональные консультации по любому вопросу, выявление причин и самые 
          | лучшие способы решения любой проблемы.
      +e('conteiner-img', {t: 'img'})(src='/src/assets/images/logo-2.png' alt='logo')
    +e('gallery')
      +e('gallery-img', {t: 'img'})(src='/src/assets/images/dentistry-img1.png' alt='logo')
      +e('gallery-img', {t: 'img'})(src='/src/assets/images/dentistry-img2.png' alt='logo')
      +e('gallery-img', {t: 'img'})(src='/src/assets/images/dentistry-img3.png' alt='logo')
      +e('gallery-img', {t: 'img'})(src='/src/assets/images/dentistry-img4.png' alt='logo')