.choose-us {
  background-color: #7cd2c1;
  width: 100%;
  min-height: 540px;
  position: relative;
  padding-top: 47px;
  overflow: hidden;
  box-sizing: border-box;
  max-width: 1028px;
  margin: 0 auto;
  padding: 0 15px;
  &__img {
    position: absolute;
    top: -60px;
    right: -77px;
  }
  &__title {
    color: #2d2d2d;
    font-family: "Gilroy", sans-serif;
    font-size: 36px;
    font-weight: 800;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: -0.19px;
    margin-left: 100px;
    margin-top: 45px;
  }
  &__block {
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: -10px;
  }
  &__block-item {
    width: 17%;
    &:not(:first-child) {
      margin-left: 30px;
    }
    &:first-child {
      width: 19%;
    }
  }
  &__block-img {
    margin-top: 79px;
    margin-bottom: 34px;
  }
  &__discription {
    color: #2d2d2d;
    font-family: "Gilroy", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 18px;
    letter-spacing: 0.17px;
  }
  &__text {
    color: #2d2d2d;
    font-family: "Gotham Pro", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.13px;
    margin-top: 10px;
  }
}