- BEMPUG.modifier = '_';

mixin footer(bem)
  +b('footer', bem, 'footer')&attributes(attributes)
    +e('title', {t: 'h2'}) sdfsdfsdfsdf
    +e('content')
      +e('conteiner')
        +e('block')
          +e('block-img', {t: 'img'})(src='/src/assets/images/placeholder.png' alt='адрес')
          +e('text', {t: 'p'}) пр. Чекистов, 22
        +e('block')
          +e('block-img', {t: 'img'})(src='/src/assets/images/placeholder.png' alt='адрес')
          +e('text', {t: 'p'}) пр. Чекистов, 22
        +e('block')
          +e('block-img', {t: 'img'})(src='/src/assets/images/placeholder.png' alt='адрес')
          +e('text', {t: 'p'}) пр. Чекистов, 22