.services {
  max-width: 1028px;
  margin-top: 200px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  margin-top: 200px;
  &__bg-img {
    position: absolute;
    top: -35px;
    left: -164px;
    z-index: -1;
  }
  &__title {
    color: #2d2d2d;
    font-family: "Gilroy", sans-serif;
    font-size: 36px;
    font-weight: 800;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: -0.19px;
    margin-left: 100px;
    padding-top: 18px;
  }
  &__block {
    margin: 45px 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
  }
  &__item {
    width: 20%;
    &:not(:first-child) {
        margin-left: 50px;
      }
    &:last-child {
      margin-left: 80px;
    }
  }
  &__img {
    max-width: 100%;
  }
  &__discription {
    color: #2d2d2d;
    font-family: "Gilroy", sans-serif;
    font-size: 15px;
    font-weight: 900;
    line-height: 19.57px;
    letter-spacing: 0.17px;
    margin-top: 10px;
  }
}
