@mixin webFont($family, $file, $weight: normal, $style: normal, $path: "../fonts/") {
  @font-face {
    font-family: $family;
    src: url($path + $file + '.eot');
    src: url($path + $file + '.eot?#iefix') format('embedded-opentype'),
    url($path + $file + '.woff') format('woff'),
    url($path + $file + '.ttf') format('truetype');
    font-weight: $weight;
    font-style: $style;
    font-stretch: normal;
  }
}

@font-face {
  font-family: 'Gilroy';
  src: url('/src/assets/fonts/Gilroy/Gilroy-ExtraBold.eot');
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
      url('/src/assets/fonts/Gilroy/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('/src/assets/fonts/Gilroy/Gilroy-ExtraBold.woff') format('woff'),
      url('/src/assets/fonts/Gilroy/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/src/assets/fonts/Gilroy/Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
      url('/src/assets/fonts/Gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
      url('/src/assets/fonts/Gilroy/Gilroy-Regular.woff') format('woff'),
      url('/src/assets/fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('/src/assets/fonts/GothamPro/GothamPro-Bold.eot');
	src: local('Gotham Pro Bold'), local('GothamPro-Bold'),
		url('/src/assets/fonts/GothamPro/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('/src/assets/fonts/GothamPro/GothamPro-Bold.woff') format('woff'),
		url('/src/assets/fonts/GothamPro/GothamPro-Bold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('/src/assets/fonts/GothamPro/GothamPro.eot');
	src: local('Gotham Pro'), local('GothamPro'),
		url('/src/assets/fonts/GothamPro/GothamPro.eot?#iefix') format('embedded-opentype'),
		url('/src/assets/fonts/GothamPro/GothamPro.woff') format('woff'),
		url('/src/assets/fonts/GothamPro/GothamPro.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
  font-family: 'Futura PT Demi';
  src: url('/src/assets/fonts/FuturaPT/FuturaPT-Demi.eot');
  src: local('Futura PT Demi'), local('FuturaPT-Demi'),
      url('/src/assets/fonts/FuturaPT/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
      url('/src/assets/fonts/FuturaPT/FuturaPT-Demi.woff') format('woff'),
      url('/src/assets/fonts/FuturaPT/FuturaPT-Demi.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}