- BEMPUG.modifier = '_';

mixin main-slider(bem)
  +b('main-slider', bem)&attributes(attributes)
    +e('top')
      +e('image', {t: 'img'})(src='/src/assets/images/header-inner.png' alt='улыбка')
    +e('bottom')
      +e('order')
        +e('text', {t: 'p', m: 'bold'}) Профессиональное отбеливание
        +e('text', {t: 'p'}) Вы можете заказать услугу<br /> со скидкой онлайн
        +e('arrow-link', {t: 'a'})(href='#'): <span class="arrow-btn"></span>
      +e('phone')
        +e('item')
          +e('item-img', {t: 'img'})(src='/src/assets/images/phone.png' alt='телефон')
          +e('text', {t: 'p'}) 8 903 45 96 540<span class="pipeline">|</span>8 918 48 43 579
        +e('item')
          +e('item-img', {t: 'img'})(src='/src/assets/images/alarm-clock.png' alt='часы')
          +e('text', {t: 'p'}) Пн-Пт: 08.00 — 20.00