include ../node_modules/bempug/index
    - BEMPUG.modifier = '_';

//- blocks imports
//- include ./components/wrapper/wrapper
include ./blocks/header/header
include ./blocks/header-inner/header-inner
include ./blocks/choose-us/choose-us
include ./blocks/dentistry/dentistry

doctype html
html
  include ./blocks/head/head
  body
    //- +wrapper
    +header
    +header-inner
    +choose-us
    +dentistry