include ../node_modules/bempug/index
    - BEMPUG.modifier = '_';

//- components imports
//- include ./components/wrapper/wrapper
include ./components/arrow-btn/arrow-btn

//- blocks imports
include ./blocks/header/header
include ./blocks/main-slider/main-slider
include ./blocks/choose-us/choose-us
include ./blocks/dentistry/dentistry
include ./blocks/services/services
include ./blocks/feedback/feedback
include ./blocks/footer/footer
doctype html
html
  include ./blocks/head/head
  body
    //- +wrapper
    +header
    +swiperContainer
    +choose-us
    +dentistry
    +services
    +feedback
    +footer
    script(src="index.js")
